/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Set font family */
$font-family: "Roboto", sans-serif;
$font-family-serif: "Roboto", sans-serif;

/* Global Styles */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    background-color: #ffffff; /* Set header background to white */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px; /* Reduced padding to make the header compact */
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Additional Nipun Batra Styles */
kbd,
.kbd {
    background-color: #f6f5f5 !important;
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {
    /* Toggle button visible only in mobile view */
    .toggle-button {
        display: block;
    }
}

/* Main Content Styles */
main {
    padding: 20px;
    margin-top: -20px; /* Move up profile photo and intro content */
    display: flex; /* Center content horizontally (replace with your preferred method) */
    justify-content: center;
    align-items: center;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    font-size: 1.8rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.section p {
    font-size: 1.1rem;
    line-height: 1.8;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #333;
}

/* Profile Photo and Logo Styles */
.profile-photo {
    width: 100px; /* Adjusted size for profile photo */
    height: 100px; /* Adjusted size for profile photo */
    border-radius: 50%; /* Make it round */
    margin-bottom: 20px; /* Add space below the photo */
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 1cm; /* Adjusted size for logos (around 1 cm) */
    height: 1cm; /* Adjusted size for logos (around 1 cm) */
    margin: 0 5px; /* Add space between logos */
}
